:root {
  --coral: #fc8454;
  --green: #8ccc7c;
  --light-blue: #84c4d4;
  --sandy-brown: #f4cc3c;
  --dodger-blue: #1facf4;
  --slate-blue: #5c54c4;
  --tomato: #f34840;
}

.custom-btn {
  padding: 9px 30px;
  vertical-align: middle;
  text-align: center;
  font-family: Jost;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.3px;
  border-radius: 5px;
  width: fit-content;
  transition: all ease-in-out 200ms;
}

.custom-btn-coral {
  border: 1px solid var(--coral);
  background-color: var(--coral);
  color: white;
}

.custom-btn-coral-outline {
  border: 1px solid var(--coral);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-coral:hover {
  border: 1px solid var(--coral);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-coral-outline:hover {
  border: 1px solid var(--coral);
  background-color: var(--coral);
  color: white;
}

.custom-btn-green {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: white;
}

.custom-btn-green:hover {
  border: 1px solid var(--green);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-light-blue {
  border: 1px solid var(--light-blue);
  background-color: var(--light-blue);
  color: white;
}

.custom-btn-light-blue:hover {
  border: 1px solid var(--light-blue);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-sandy-brown {
  border: 1px solid var(--sandy-brown);
  background-color: var(--sandy-brown);
  color: white;
}

.custom-btn-sandy-brown:hover {
  border: 1px solid var(--sandy-brown);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-dodger-blue {
  border: 1px solid var(--dodger-blue);
  background-color: var(--dodger-blue);
  color: white;
}

.custom-btn-dodger-blue:hover {
  border: 1px solid var(--dodger-blue);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-slate-blue {
  border: 1px solid var(--slate-blue);
  background-color: var(--slate-blue);
  color: white;
}

.custom-btn-slate-blue:hover {
  border: 1px solid var(--slate-blue);
  background-color: white;
  color: black;
  cursor: pointer;
}

.custom-btn-tomato {
  border: 1px solid var(--tomato);
  background-color: var(--tomato);
  color: white;
}

.custom-btn-tomato:hover {
  border: 1px solid var(--tomato);
  background-color: white;
  color: black;
  cursor: pointer;
}
