.bg-circle {
  background: #1facf4;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  opacity: 0.8;
  color: inherit;
}
